.el {
  width: 95%;
  background-color: #fff;
  margin: auto auto 0.5em;
  padding: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.cont {
  display: inline-block;
  margin-left: 10px;
}
.ib {
  display: inline-block;
}
.time {
  margin-right: 0.5em;
}
.surl {
  margin-right: 0.5em;
}
.bottom {
  color: grey;
}
.score {
  margin-right: 0.5em;
}
.by {
  color: grey;
  text-decoration: none;
  margin-right: 0.5em;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.comments {
  color: grey;
  margin-right: 0.5em;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.url {
  color: #000;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  &:hover {
    text-decoration: underline;
  }
}
.title {
  font-size: 1.2rem;
}
