.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12);
  background-color: #0747a6;
  text-align: center;
}
.link {
  position: relative;
  font-size: 1.2rem;
  top: 15px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 2em;
  &:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }
}
